body{
font-family: sans-serif;
background-color: lightcyan;

}
#container{
	width: 450px;
	height: auto;
	border: 1px solid #333;
	margin: 50px auto;
	background-color: darkgoldenrod;
	box-shadow: 2px 2px 2px 2px rgba(1, 1, 1, 0.3);
	border-radius: 10px;
	padding: 10px;
}
#logoArea{
	display: flex;
	width: 100%;
	min-height: 30vh;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	position: relative;
	border-radius: 10px 10px 0px 0px;
	background-size: cover;
	padding: 10px 0px;
	color: #fff;
}
#logoArea img{
	width: 100px;
	height: 100px;


}
#inputFieldArea{
	width: 300px;
	margin:20px auto;
}
.groupField{
	margin: 20px auto;
}
.groupField input,
.groupField select{
	width: 100%;
	height: 30px;
}
.groupField input:focus,
.groupField select:focus{
	outline: none;
}
#container #buttonArea{
	text-align: center;

}
#buttonArea{
	width: 200px;
	margin: auto;
}
#buttonArea button{
	background-color: whitesmoke;
	border: none;
	padding: 10px 15px;
	border-radius: 50px;
	font-size: 15px;
}
#buttonArea button:hover{
font-size: 18px;
background-color: cyan;
transition: 3s all ease;
}